@import url('http://fonts.cdnfonts.com/css/trispace');
@import url('http://fonts.cdnfonts.com/css/dm-sans');
html,
body {
  padding: 0;
  margin: 0;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
